* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', serif;
    font-weight: 400;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #4B5157;
    background-color: #e5e5e5;
}

button {
    margin: 0;
    padding: 0;
}

a {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

ul,
ol,
li,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}

h6 {
    color: var(--base-grey-100, #262D33);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.title {

    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    color: var(--base-white, #FFF);
    color: var(--base-white, #FFF);
    font-size: 16px;
    line-height: 25px;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

.sub-title {
    color: var(--base-grey-100, #262D33);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.desc {
    color: var(--base-grey-50, #939699);
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
}


/*------------------------------header-----------------------------*/

.header {
    color: #e5e5e5;
}


.header__top__left {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header__bottom__day,
.header__bottom__weather__icon-txt {
    color: var(--base-grey-85, #4B5157);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.header__content {
    padding-top: 5px;
}


.header__top {
    display: flex;
    justify-content: space-between;
}

.header__top__right {
    align-items: center;
    display: flex;
    gap: 25px;
}

.header__top__left__section {
    gap: 15px;
}


.header__top__right-subscribe-img {
    background-color: #BCBFC2;
    height: 45px;
}

.header__top__right-subscribe-img img {
    width: 100%;
    object-fit: cover;
    padding: 3px 3px 0px 3px;
}

.search {
    display: flex;
    gap: 10px;
}

.search input {
    border: none;
    background-color: transparent;
    outline: none;
}


.header__top__right-subscribe-container,
.header__top__right__sign-ing {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header__top__right-subscribe-txt {
    font-size: 12px;
    line-height: 15px;
}

.sign-in-txt {
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
}

.header__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__bottom__location,
.header__bottom__weather {
    display: flex;
    gap: 15px;
}


.navigation {
    background-color: #262D33;
}

.navigation ul {
    display: flex;
    justify-content: space-between;
}

.navigation ul li a h6 {
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 30px;
}

.promo {
    background-color: #262D33;
    background-image: linear-gradient(to bottom, #262d33 60%, #e5e5e5 40%);
}



.promo__news_container {
    padding: 25px 25px 30px 25px;
    background: var(--base-grey-95, #30363D);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.promo__news_title {
    width: 174px;
}

.promo__news__card {
    display: flex;
    gap: 15px;
}

.promo__news_img {
    width: 65px;
    height: 65px;
}

.promo__news_img img {
    width: 100%;
    object-fit: cover;
}

.promo__recomm {
    display: flex;
    border-radius: 100px;
    margin-bottom: 30px;
}

.promo__recomm__left-side {
    background: url(../img/promo/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 55px;
    padding-right: 350px;
}

.promo__recomm__right-side {
    background: #FFF;
}

.promo__recomm__left-side__author {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 145px;
}

.promo__recomm__left-side__blue-txt {
    margin-bottom: 25px;
}

.promo__recomm__left-side__blue-txt a {
    color: var(--blue-blue-75, #4592FF);
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.promo__recomm__left-side__title {
    width: 598px;
    color: var(--base-white, #FFF);
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 45px;
}

.promo__recomm__left-side__btn {
    padding: 10px 25px;
    display: inline-flex;
    gap: 5px;
    align-items: center;
    border-radius: 20px;
    background: var(--blue-blue-75, #4592FF);
}

.promo__recomm__left-side__btn a {
    color: var(--base-white, #FFF);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.promo__recomm__right-side-title {
    padding: 20px 25px;
    color: var(--base-grey-100, #262D33);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.promo__recomm__right-side-card-item {
    padding: 17px 25px 19px 25px;
}

.promo__recomm__right-side-card-item:hover {
    background: var(--base-grey-05, #F5F5F5);
}


.promo__recomm__right-side-card-item-title {
    color: var(--bluegreen-bluegreen-75, #3BBDC4);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.promo__recomm__right-side-card-item-txt {
    width: 213px;
    color: var(--base-grey-85, #4B5157);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.rigth-arrow {
    position: relative;
}

.popular {
    margin-bottom: 60px;
}

.popular-main {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(263px, 1fr));
}

.popular-main-cars {
    padding: 35px 0px 35px 35px;
    grid-column: span 2;
    background-color: #FFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popular-main-columns {
    grid-row: span 3;
    background: #6E99AE;
    border-radius: 10px;
}

.popular-main-cats {
    grid-row: span 2;
}


.popular-main-cars-txt {
    width: 238px;
}

.popular-main-cars-category {
    color: var(--greyblue-greyblue-75, #6E99AE);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}

.popular-main-cars-top {
    display: flex;
    justify-content: space-between;
}


.popular-main-cars-title {
    color: var(--base-grey-100, #262D33);
    font-family: Roboto Slab;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 25px;
}

.popular-main-cars-desc {
    color: var(--base-grey-85, #4B5157);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.popular-main-cars-comment-bottom {
    display: flex;
    align-items: center;
}

.popular-main-cars-comment-bottom-avatar {
    margin-right: 10px;
}

.popular-main-cars-comment-bottom-name {
    margin-right: 5px;
}

.popular-main-cars-comment-bottom-comment {
    margin-right: 15px;
}

.popular-main-cars-comment-bottom-number-comments {
    display: flex;
    align-items: center;
    gap: 5px;
}


.popular-main-popular {
    background: url(../img/popular/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.popular-main-popular-tag {
    display: flex;

    padding-left: 18px;
    padding-top: 18px;
}


.popular-main-popular-tag p {
    background: var(--green-green-75, #3DC47E);
    border-radius: 3px;
    padding: 7px 12px;
    color: var(--base-white, #FFF);
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
}

.popular-main-popular-txt {
    padding: 0px 0px 25px 25px;
    width: 230px;
}

.popular-main-popular-category {
    color: var(--purple-purple-25, #E7D9FF);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.popular-main-popular-title {
    color: var(--base-white, #FFF);
    font-family: Roboto Slab;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.popular-main-popular-comment-block {
    display: flex;
}

.popular-main-popular-comment-txt-desc {
    display: flex;
}

.popular-main-popular-comment-txt-comments {
    display: flex;
}


.popular-main-popular-comment-block-avatar {
    margin-right: 10px;
}

.popular-main-popular-comment-txt-name {
    color: var(--base-white, #FFF);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.popular-main-popular-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popular-main-popular-comment-txt-name {
    color: var(--base-white, #FFF);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.popular-main-popular-comment-txt-date {
    color: var(--base-white, #FFF);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin-right: 10px;
    opacity: 0.4;
}

.popular-main-popular-comments,
.popular-main-popular-likes {
    display: flex;
    gap: 5px;
    align-items: center;
}

.popular-main-popular-comment-txt-comments {
    display: flex;
    align-items: center;
    gap: 10px;
}

.popular-main-columns-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 20px;
}

.popular-main-cards-item {
    padding: 10px;
}

.popular-main-cards-item-title {
    color: var(--base-white, #FFF);
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 20px;
    width: 203px;
}

.popular-main-cards-item-author {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 85px;
}

.popular-main-cards-item-author-name {
    display: flex;
    flex-direction: column;
    color: var(--greyblue-greyblue-25, #D1E2EB);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.popular-main-title {
    color: var(--base-white, #FFF);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 65px;
}

.popular-main-link {
    text-align: center;
}

.popular-main-link a {
    color: var(--base-white, #FFF);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}


.popular-main-cats {
    background: #FFF;
    border-radius: 10px;
}


.popular-main-cats a {
    color: var(--base-grey-100, #262D33);
    font-family: Roboto Slab;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
}

.popular-main-txt {
    padding: 15px 25px;
}



.popular-main-cats img {
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 10px;
}

.popular-main-card {
    background: #FFF;
    border-radius: 10px;
    padding: 25px 25px 30px 25px;
}

.popular-main-card-title {
    margin-bottom: 5px;
}

.popular-main-card-title a {
    color: var(--base-grey-100, #262D33);
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
}

.popular-main-card-desc {
    color: var(--base-grey-85, #4B5157);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px;
    width: 213px;
}

.popular-main-card-date {
    color: var(--base-grey-50, #939699);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}

.main-news {
    background: url(../img/main-news/bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    margin-bottom: 60px;
    background-size: cover;
}

.main-news-conent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px 55px 0px;
}


.main-news-conent-title {
    color: var(--base-white, #FFF);
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    margin-bottom: 25px;
}

.main-news-conent-link {
    background: var(--blue-blue-75, #4592FF);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 20px 10px 25px;
    border-radius: 20px;
}

.main-news-conent-link a {
    color: var(--base-white, #FFF);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.notes-content {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.notes-main {
    width: 80%;
}

.notes-main,
.notes-recomm {
    background: #FFF;
    border-radius: 10px;
}

.notes-main-item {
    padding: 25px;
    display: flex;
    gap: 25px;
}



.notes-main-item-txt-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notes-main-item-category {
    color: var(--blue-blue-75, #4592FF);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 15px;
}


.notes-main-item-title,
.notes-main-item-desc {
    width: 437px;
}

.notes-main-item-title {
    color: var(--base-grey-100, #262D33);
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 10px;
}

.notes-main-item-desc {
    color: var(--base-grey-85, #4B5157);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
}

.notes-main-item-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.notes-recomm-content {
    padding: 20px 25px 15px 25px;
}


.notes-recomm-title {
    text-align: center;
    color: var(--base-grey-100, #262D33);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.notes-recomm-card-item {
    display: flex;
    gap: 10px;
    margin-bottom: 35px;
}

.notes-recomm-card-item-txt-title {
    color: var(--base-grey-85, #4B5157);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    width: 143px;
    margin-bottom: 5px;
}

.notes-recomm-card-item-txt-last-time {
    color: var(--base-grey-50, #939699);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}

.notes-recomm-link {

    text-align: center;
}


.notes-recomm-link a {
    color: var(--base-grey-100, #262D33);
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}


.hot {
    background: #262D33;
    margin-top: 60px;
}

.hot-content {
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(263px, 1fr));
}

.hot-slide {
    position: relative;
}


.swiper-wrapper {
    height: 570px;
}

.swiper-pagination-bullet {
    background-color: gray;
}

.swiper-pagination-bullet-active {
    background-color: white;
}

.hot-main-bg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}



.hot-main-bg img {
    border-radius: 20px;
}

.hot-main-txt {
    z-index: 10;
    position: relative;
}

.hot-main-category {
    border-radius: 3px;
    display: inline-flex;
    background-color: #FF4F52;
    margin: 18px;
    align-self: flex-start;
}

.hot-main-category p {
    padding: 5px 12px;
    color: var(--base-white, #FFF);
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}

.hot-author-img {
    margin-bottom: 8px;
}



.hot-main-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hot-author-name {
    color: var(--base-white, #FFF);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.hot-content-item {
    border-radius: 10px;
}

.hot-author-prof {
    color: var(--base-white, #FFF);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    opacity: 0.4;
    margin-bottom: 30px;
}

.hot-main-title {
    text-align: center;
    width: 455px;
    color: var(--base-white, #FFF);
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 45px;
}

.hot-main-buttion {
    margin-bottom: 100px;

}


.hot-main-buttion button {
    border-radius: 20px;
    background: var(--blue-blue-75, #4592FF);
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 25px 10px 20px;
}


.button-main-txt strong {
    color: var(--base-white, #FFF);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.main-number {
    color: var(--blue-blue-25, #C5E4FC);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.hot-content-item-main {
    grid-row: span 2;
    grid-column: span 2;
}


.hot-content-item-careers {
    background-color: #B4D1E0;
    position: relative;
}

.hot-content-item-careers-main {
    position: relative;
    display: flex;
    z-index: 100;
}


.hot-content-item-careers-content {
    padding: 18px 30px 0px 35px;
}



.hot-content-item-careers-main-img {
    position: absolute;
    width: 248px;
    height: 320px;
    z-index: 150;
    bottom: 0;
    right: 0;
    margin-right: 60px;
}



.hot-content-item-careers-main-img img {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.hot-content-item-careers-main-txt {
    width: 243px;
}

.hot-content-item-careers-circle {
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 1;
}

.hot-content-item-careers-category {
    color: var(--greyblue-greyblue-75, #6E99AE);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.hot-content-item-careers-title {
    color: var(--base-grey-100, #262D33);
    font-family: Roboto Slab;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 15px;
}

.hot-content-item-careers-desc {
    color: var(--base-grey-85, #4B5157);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 25px;
}


.hot-careers-btn {
    display: flex;
    gap: 5px;
    align-items: center;
}

.hot-careers-btn {
    border: none;
    padding: 10px 20px 10px 25px;
    border-radius: 20px;
    background: var(--blue-blue-75, #4592FF);
}

.hot-careers-btn strong {
    color: var(--base-white, #FFF);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.hot-content-item-careers {
    grid-column: span 2;
}


.hot-content-item-small {
    background: #FFF;
    padding: 25px 25px 30px 25px;
}

.hot-content-item-small-title {
    color: var(--base-grey-100, #262D33);
    font-family: Roboto Slab;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 5px;
}

.hot-content-item-small-desc {
    color: var(--base-grey-85, #4B5157);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px;
}

.hot-content-item-small-date {
    color: var(--base-grey-50, #939699);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}

.footer {
    background: #FFF;
}


.footer_title {
    text-align: center;
    margin-bottom: 80px;
}

.footer_form {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
}


.footer_title-txt {
    color: var(--base-grey-100, #262D33);
    font-family: Roboto Slab;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
    padding-top: 60px;
}

.footer_form input {
    outline: #FFF;
    width: 313px;
    height: 40px;
    border: 1px solid var(--base-grey-15, #D9DADB);
    border-radius: 5px;
}


.footer_form button {
    padding: 10px 28px;
    color: var(--base-white, #FFF);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #FFF;
    border: none;
    border-radius: 20px;
    background: var(--blue-blue-75, #4592FF);
}

.footer_nav {
    margin-bottom: 64px;
}

.footer_link_list {
    display: flex;
    justify-content: center;
}

.footer_link_item_news_links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer_link_item_news_links a {
    color: var(--base-grey-85, #4B5157);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.footer_link_item_news_title {
    margin-bottom: 25px;
    color: var(--base-grey-100, #262D33);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.footer_link_item {
    width: 165px;
    padding-top: 30px;
}

.footer_link_item_news {
    border-top: 5px solid rgb(243, 57, 57);
}

.footer_link_item_arts {
    border-top: 5px solid plum;
}

.footer_link_item_travel {
    border-top: 5px solid rgb(0, 132, 248);
}

.footer_link_item_sports {
    border-top: 5px solid rgb(251, 180, 48);
}

.footer_link_item_tech {
    border-top: 5px solid rgb(1, 186, 1);
}

.footer_link_item_moneys {
    border-top: 5px solid #6E99AE;
}

.footer_contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #D9DADB;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #D9DADB;
    margin-bottom: 40px;
}

.footer_contacts-links,
.footer_contacts-left-side {
    display: flex;
    gap: 30px;
    align-items: center;
}

.footer_contacts-link a {
    color: var(--base-grey-100, #262D33);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.footer_contacts-social {
    display: flex;
    gap: 15px;
}

.footer_contacts-social-facebook {
    background-color: #4267B2;
}

.footer_contacts-social div {
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.footer_contacts-social img {
    padding: 10px;
}

.footer_contacts-social-twitter {
    background-color: #1DA1F2;
}

.footer_contacts-social-youtube {
    background-color: #F00;
}

.footer_contacts-social-insta {
    background-color: #262626;
}


.footer-rights {
    display: flex;
    justify-content: space-between;
    color: var(--base-grey-50, #939699);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 55px;
}


.footer-rights span:first-child {
    width: 750px;
}